<div class="fila">
    <div class="col-100 titulos">
        <h1>Sesiones</h1>
        <div>
            <button class="outline" routerLink="/listado-usuarios">Volver</button>
        </div>
    </div>
</div>
<div class="fila">
    <div class="col-100">
        <table>
            <tr>
                <th>Inicio</th>
                <th>Fin</th>
                <th>Duracion</th>
            </tr>
            <tr *ngFor="let sesion of sesiones">
                <td>{{sesion.login | date: 'd/MM/yy, HH:mm'}}</td>
                <td>{{sesion.logout | date: 'd/MM/yy, HH:mm'}}</td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
