<form [formGroup]="formLogin" (ngSubmit)="sendLogin()">
    <div class="fila">
        <div class="col-100">
            <label for="email">
                Correo electrónico
                <span class="invalid" *ngIf="formLogin.controls.email.invalid">
                    Introduzca un correo electrónico
                </span>
            </label>
            <!-- Estados campos con validación
            pristine dirty // El usuario no ha utilizado nunca el campo o lo ha utilizado por primera vez 
            untouched touched // Cuando el usuario no ha salido del campo o ha salido del campo 
            invalid valid // Si está inválido o válido -->
            <input type="email" id="email" formControlName="email">
        </div>
    </div>
    <div class="fila">
        <div class="col-100">
            <label for="password">Contraseña</label>
            <input type="password" id="password" formControlName="password">
        </div>
    </div>
    <div class="fila">
        <div class="col-100 button">
            <button [ngClass]="{'wait': esperando}">
                <span *ngIf="!esperando">Iniciar sesión</span>
                <span *ngIf="esperando"><img class="spinner" src="assets/refresh-cw.svg" alt=""></span>
            </button>
        </div>
    </div>
    <div class="fila">
        <div class="col-100">
            <p>{{mensaje}}</p>
        </div>
    </div>
</form>
